/* General styling */
.hero-section h1 {
	margin-top: 3vh;
}

.hero-section p {
	color: #EDEFEE;
	margin-top: 2vh;
}

.hero-section img {
	max-height: 42vh;
	min-height: 70%;
	max-width: 90%;
	margin-top: 3vh;
	margin-left: 10%;
}

/* Big screen layout */
@media (min-width: 600px){
	.hero-section {
		display: grid;
		grid-template-columns: minmax(0,10vw) auto minmax(0,10vw);
		grid-template-rows: 530px;
		grid-template-areas: "pl content pr";
		place-items: stretch;
		margin-bottom: 5vh;
	}
	
	.hero-section .padding-left {
		grid-area: pl;
		background-color: #495E57;
	}
	
	.hero-content {
		grid-area: content;
		background-color: #495E57;
		display: grid;
		overflow: visible;
		grid-template-columns: 50% 50%;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "text pic" "button pic";
	}
	
	.hero-section .padding-right {
		grid-area: pr;
		background-color: #495E57;
	}
	
	.hero-content img {
		grid-area: pic;
		justify-self: end;
	}

	.hero-text {
		grid-area: text;
	}

	.hero-content button {
		grid-area: button;
		align-self: end;
	}
}

/* Small screen Layout */
@media (max-width:600px) {
	.hero-section {
		height: 80vh;
		background-image: url("../images/hero-image.jpg");
		background-size: cover;
		display: flex;
		align-items: start;
	}

	.hero-content {
		background-color: #495E57;
		display: flex;
		flex-direction: column;
		place-items: center;
	}

	.hero-content h1, .hero-content h2, .hero-content p {
		text-align: center;
	}
}