/* General styling */
.specials-section {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.specials-content h1 {
	color: #333333;
}

.dish-card {
	width: 30rem;
	background-color: #EDEFEE;
	margin: 1.8rem 0 1.8rem 0;
	border-radius: 1.8rem 1.8rem 0 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.dish-picture {
	width: 100%;
	height: 45%;
	object-fit: cover;
	border-radius: 1.8rem 1.8rem 0 0;
}

.dish-card h5, .dish-card p {
	margin: 1rem 2rem 1rem 2rem
}

.dish-card > div {
	display: flex;
}

.card-title {
	justify-content: space-between;
}

.dish-card .price {
	color: #EE9972;
}

.delivery-call {
	margin-bottom: 1rem;
}

.delivery-icon {
	height: 2rem;
	align-self: center;
}

/* Big screen layout */
@media (min-width: 600px) {
	.specials-section {
		display: grid;
		grid-template-columns: minmax(0, 10vw) 1fr minmax(0, 10vw);
		grid-template-rows: auto;
	}

	.specials-content {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: min-content max-content;
		grid-template-areas: "title button" "cards cards";
	}

	.specials-content h1 {
		grid-area: title;
	}

	.specials-content button {
		grid-area: button;
		justify-self: end;
	}

	.specials-content .cards-section {
		grid-area: cards;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

/* Small screen Layout */
@media (max-width: 600px) {
	.specials-content button {
		margin-top: 1.6rem;
		margin-left: 1.8rem;
	}

	.specials-section h1 {
		margin-left: 1.8rem;
	}

	.dish-card {
		margin-left: 1.8rem;
	}

	.card-title {
		margin-top: 1rem;
	}
}