/* General Styling */
h1 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 40pt;
	font-weight: 600;
	color: #F4CE14;
	margin: 0;
}

h2 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 30pt;
	color: #EDEFEE;
	margin: 0;
}

h3 {
	font-family: sans-serif;
	font-size: 20pt;
	font-weight: 800;
	text-transform: uppercase;
	color: black;
	margin: 0;
}

h4 {
	font-family: sans-serif;
	font-size: 16pt;
	font-weight: 800;
	color: black;
	margin: 0;
}

h5 {
	font-family: sans-serif;
	font-size: 18pt;
	color: black;
	margin: 0;
}

p {
	font-family: sans-serif;
}

header img {
	height: auto;
	max-height: 90%;
	max-width: 90%;
	min-width: 50px;
	padding: 5%;
	object-fit: contain;
}

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

nav a {
	text-decoration: none;
}

header ul {
	align-items: center;
}

header li {
	display: inline-block;
	padding: 5px;
}

footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #495E57;
}

.footer-logo {
	max-height: 90%;
	max-width: 90%;
	min-width: 20px;
	object-fit: contain;
	justify-self: start;
	padding: 5%;
}

footer ul {
	height: 100%;
	flex-direction: column;
}

footer a {
	font-family: sans-serif;
	font-weight: 500;
	color: black;
}

footer div {
	display: flex;
	flex-direction: column;
}

footer h2 {
	margin: 0 0 10px 0;
}

footer p {
	margin: 10px 0 10px 0;
}

/* Big screen layout */
header {
	display: grid;
	grid-template-columns: minmax(0,10vw) 30vw 1fr minmax(0,10vw);
	grid-template-rows: 100px;
	justify-items: stretch;
	align-items: center;
}

header img {
	justify-self: start;
}

footer {
	display: grid;
	grid-template-columns: minmax(0,10vw) minmax(50px,150px) 1fr 1fr 1fr minmax(0,10vw);
	grid-template-rows: 250px;
	place-items: stretch;
	gap: 0px;
}

footer nav {
	padding-left: 30px;
}

.contact-info {
	padding-left: 30px;
}

.social-links {
	padding-left: 30px;
}

/* Small screen layout */
@media (max-width: 600px) {
	header {
		display: grid;
		grid-template-columns: 100vw;
		grid-template-rows: 0 50px 50px 0;
		justify-items: stretch;
		align-items: center;
	}

	.header-logo {
		justify-self: center;
	}
	
	footer {
		display: grid;
		grid-template-columns: 30vw 70vw;
		grid-template-rows: 0 repeat(3, 250px);
		grid-template-areas: "empty1 empty2" "logo nav" "contact contact" "social social";
		place-items: stretch;
		gap: 20px;
	}

	.footer-logo {
		grid-area: logo;
	}

	footer nav {
		grid-area: nav;
		padding-left: 0;
	}

	.contact-info {
		grid-area: contact;
		padding-left: 0;
	}

	.social-links {
		grid-area: social;
		padding-left: 0;
	}

	footer .padding-left {
		grid-area: empty1;
	}

	footer .padding-right {
		grid-area: empty2;
	}
}