/* General Styling */
h1 {
	/* Display Title*/
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 3.7rem;
	font-weight: 600;
	line-height: 1;
	color: #F4CE14;
	margin: 0;
}

h2 {
	/* Sub title */
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 3rem;
	font-weight: 400;
	color: #EDEFEE;
	margin: 0;
}

h3 {
	/* Section Title */
	font-family: sans-serif;
	font-size: 2rem;
	font-weight: 800;
	text-transform: uppercase;
	color: #333333;
	margin: 0;
}

h4 {
	/* Section Category */
	font-family: sans-serif;
	font-size: 1.6rem;
	font-weight: 800;
	color: #333333;
	margin: 0;
}

h5 {
	/* Card Title*/
	font-family: sans-serif;
	font-size: 1.8rem;
	color: #333333;
	margin: 0;
}

p {
	font-family: sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	color: #495E57;
}

.lead-text {
	font-family: sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
	color: #333333;
}

.highlight-text {
	font-family: sans-serif;
	font-size: 1.6rem;
	font-weight: 500;
	color: #495E57;
}

.header-logo {
	height: auto;
	max-height: 90%;
	max-width: 90%;
	min-width: 11.7rem;
	padding: 5%;
	object-fit: contain;
}

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

nav a {
	text-decoration: none;
}

header ul {
	align-items: center;
}

header li {
	display: inline-block;
	padding: 0.7rem;
}

main img {
	border-radius: 1.8rem;
}

main button {
	font-family: sans-serif;
	font-size: 1.6rem;
	font-weight: 800;
	color: "black";
	text-transform: uppercase;
	background-color: #F4CE14;
	border-radius: 1rem;
	padding: 0.9rem 3rem 0.9rem 3rem;
	margin: 0 0 1.8rem 0;
	width: fit-content;
	height: fit-content;
}

footer {
	padding-top: 5rem;
	padding-bottom: 1.2rem;
	background-color: #495E57;
}

.footer-logo {
	max-height: 90%;
	max-width: 90%;
	min-width: 3.5rem;
	object-fit: contain;
	justify-self: start;
}

footer nav, footer .contact-info, footer .social-links {
	padding-left: 1.8rem;
}

footer ul {
	height: 100%;
	flex-direction: column;
}

footer a {
	font-family: sans-serif;
	font-weight: 500;
	color: black;
}

footer div {
	display: flex;
	flex-direction: column;
}

footer h2 {
	margin: 0 0 0.6rem 0;
}

footer p {
	margin: 0.6rem 0 0.6rem 0;
}

/* Big screen layout */
@media (min-width: 600px) {
	header {
		display: grid;
		grid-template-columns: minmax(0,10vw) 30vw 1fr minmax(0,10vw);
		grid-template-rows: 6rem;
		justify-items: stretch;
		align-items: center;
	}
	
	header img {
		justify-self: start;
	}
	
	footer {
		display: grid;
		grid-template-columns: minmax(0,10vw) minmax(50px,150px) 1fr 1fr 1fr minmax(0,10vw);
		grid-template-rows: 15rem;
		place-items: stretch;
	}

	.footer-logo {
		padding: 5%;
	}
}

/* Small screen layout */
@media (max-width: 600px) {
	header {
		display: grid;
		grid-template-columns: 1fr min-content;
		grid-template-rows: 6rem;
		align-items: center;
	}

	.header-logo {
		justify-self: start;
	}

	.burger-icon {
		height: 4rem;
		width: 4rem;
		padding-right: 1rem;
	}
	
	footer {
		display: grid;
		grid-template-columns: 30vw 70vw;
		grid-template-rows: 0 repeat(3, 15rem);
		grid-template-areas: "empty1 empty2" "logo nav" "contact contact" "social social";
		place-items: stretch;
		gap: 1.2rem;
	}

	.footer-logo {
		grid-area: logo;
		padding-left: 1.8rem;
	}

	footer nav {
		grid-area: nav;
		padding-left: 0;
	}

	.contact-info {
		grid-area: contact;
		padding-left: 0;
	}

	.social-links {
		grid-area: social;
		padding-left: 0;
	}

	footer .padding-left {
		grid-area: empty1;
	}

	footer .padding-right {
		grid-area: empty2;
	}
}